<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>forum | {% block title %}{% endblock title %}</title>
</head>
<body>
<header>
    <h1>forum</h1>
    <p>
        {% if user.is_authenticated %}
            Logged as <a href="{% url "user" user.id %}">{{ user }}</a> / <a href="{% url "logout" %}">Log out</a>
        {% else %}
            You are not logged in. <a href="{% url "login" %}">Log in</a>
        {% endif %}
    </p>
    <nav>
        {% block nav %}
        {% endblock nav %}
    </nav>
</header>
<main>
    {% block content %}
    {% endblock content %}
</main>
</body>
</html>