{% extends "base.html" %}

{% block title %}Update your comment{% endblock title %}

{% block nav %}
    <a href="{% url "thread" object.thread.id %}">Back to thread</a>
{% endblock nav %}

{% block content %}
    <h2>Update your comment on {{ object.thread.title }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit</button>
    </form>
{% endblock content %}