{% extends "base.html" %}

{% block title %}Delete comment on {{ object.thread.title }}{% endblock title %}

{% block nav %}
    <a href="{% url "thread" object.thread.id %}">Back to thread</a>
{% endblock nav %}

{% block content %}
    <h2>Delete comment on <i>{{ object.thread.title }}?</i></h2>
    <p>Are you sure about deleting thread <strong>{{ object.title }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Delete</button>
        <a href="{% url "thread" object.thread.id %}">Cancel</a>
    </form>
{% endblock content %}