{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block nav %}
    {% if user.is_authenticated %}
        <a href="{% url "thread-new" %}">Start new thread</a>
    {% endif %}
{% endblock nav %}

{% block content %}
    <h2>Threads</h2>
    <ul>
        {% for thread in thread_list %}
            <li><a href="{% url "thread" thread.id %}">{{ thread.title }}</a> by <a
                    href="{% url "user" thread.author.id %}">{{ thread.author }}</a> on {{ thread.date }}</li>
        {% empty %}
            r/Wooosh
        {% endfor %}
    </ul>
{% endblock content %}