{% extends "base.html" %}

{% block title %}Thread: {{ object.title }}{% endblock title %}

{% block nav %}
    <a href="{% url "home" %}">Back to home</a>
    {% if user.is_authenticated and user == thread.author %}
        |
        <a href="{% url "thread-update" thread.id %}">Edit</a>
        <a href="{% url "thread-delete" thread.id %}">Delete</a>
    {% endif %}
{% endblock nav %}

{% block content %}
    <h2>{{ object.title }}</h2>
    <p><i>Created by <a href="{% url "user" object.author.id %}">{{ object.author }}</a> on {{ object.date }}.</i></p>
    <p>{{ object.text }}</p>
    <h3>Comments</h3>
    <ul>
        {% for comment in comment_list %}
            <li>[{{ comment.date }}] <strong><a
                    href="{% url "user" comment.author.id %}">{{ comment.author }}</a></strong>: {{ comment.text }}
                <i>{{ comment.count }}</i>
                {% if user.is_authenticated %}
                    | <a href="{% url 'comment-like' object.id comment.id %}">Like</a>
                    {% if user == comment.author %}
                        <a href="{% url "comment-update" comment.id %}">Edit</a>
                        <a href="{% url "comment-delete" comment.id %}">Delete</a>
                    {% endif %}
                {% endif %}</li>
        {% empty %}
            r/Wooosh
        {% endfor %}
    </ul>
    <h3>Post comment:</h3>
    <form method="post" action="{% url 'comment-create' object.id %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button>Submit</button>
    </form>
{% endblock content %}