{% extends "base.html" %}

{% block title %}{{ object.title }} - Delete{% endblock title %}

{% block nav %}
    <a href="{% url "home" %}">Back to home</a>
{% endblock nav %}

{% block content %}
    <h2>Delete <i>{{ object.title }}?</i></h2>
    <p>Are you sure about deleting thread <strong>{{ object.title }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Delete</button>
        <a href="{% url "thread" object.id %}">Cancel</a>
    </form>
{% endblock content %}