{% extends "base.html" %}

{% block title %}
    {% if not object.title %}
        Start new thread
    {% else %}
        {{ object.title }} - Edit
    {% endif %}
{% endblock title %}

{% block nav %}
    <a href="{% url "home" %}">Back to home</a>
{% endblock nav %}

{% block content %}
    <h2>
        {% if not object.title %}
            Start new thread
        {% else %}
            Edit <i>{{ object.title }}</i>
        {% endif %}
    </h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit</button>
        <a href="{% url "home" %}">Cancel</a>
    </form>
{% endblock content %}