{% extends "base.html" %}

{% block title %}User: {{ object }}{% endblock title %}

{% block nav %}
    <a href="{% url "home" %}">Back to home</a>
{% endblock nav %}

{% block content %}
    <h2>{{ object }}</h2>
    <h3>Created threads</h3>
    <ul>
        {% for thread in thread_user_list %}
            <li><a href="{% url "thread" thread.id %}">{{ thread.title }}</a> on {{ thread.date }}</li>
        {% empty %}
            r/Wooosh
        {% endfor %}
    </ul>
    <h3>Threads commented on</h3>
    <ul>
        {% for thread in thread_comment_list %}
            <li><a href="{% url "thread" thread.id %}">{{ thread.title }}</a> by <a
                    href="{% url "user" thread.author.id %}">{{ thread.author }}</a> on {{ thread.date }}</li>
        {% empty %}
            r/Wooosh
        {% endfor %}
    </ul>
{% endblock content %}